.mermaid-wrapper {
  position: relative;
  margin: 1em 0;
  aspect-ratio: 16 / 9;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-50);

  &:first-child {
    margin-top: 0;
  }

  .mermaid-diagram-controls {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;

    -webkit-user-select: none;
    user-select: none;
  }

  html.no-touch & .mermaid-diagram-controls {
    transition: opacity 0.3s;
    opacity: 0;
  }

  html.no-touch &:hover .mermaid-diagram-controls {
    opacity: 1;
  }
}

.mermaid-diagram {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em;
  box-sizing: border-box;

  & > * {
    margin: auto;
    min-height: max-content;
  }
}

.d-modal.mermaid-fullscreen {
  --modal-max-width: 95vw;
}
